@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
}


@layer base{
    @font-face {
        font-family: 'Gemini-f1';

        src: url("./assets/fonts/gemfont1.woff2") format("woff2")
    }
}
@layer base{
    @font-face {
        font-family: 'Gemini-f2';

        src: url("./assets/fonts/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2vgCI.woff2") format("woff2")
    }
}
@layer base{
    @font-face {
        font-family: 'Gemini-f3';

        src: url("./assets/fonts/HhyqU5Ak9u-oMExPeInvcuEmPosC9zS3FYkFU68cPrjdKM1XMoDZlWmzc3IiWvF1R4oJxQmdBnv3Ceyl.woff2") format("woff2")
    }
}
@layer base{
    @font-face {
        font-family: 'Gemini-f4';

        src: url("./assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2")
    }
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
}